a, a:hover{
    color:none;
    text-decoration: none;
}
h1, h2{
    color: #9D2A35;
    font-family: Roboto;
}
p{
    text-align: justify;
}
body{
    margin: 0;
}
.topo{
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0px 5px 16px rgba(10, 10, 10, 0.1);
}
.topo a{
    color: #9D2A35;
    font-family: Roboto;
    font-style: normal;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}
.footer{
    background-color: #9D2A35;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
    text-align: center; 
    line-height: 24px;
    /* identical to box height, or 171% */
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    bottom:0;
    padding: 0.5%;
}

/*botoes padrao*/
button, button:hover{
    color: transparent;
    color: white;
}
#botao, #botao:focus, #botao:hover{
    background-color: #9D2A35;
    border: 1px solid #9D2A35;
    box-sizing: border-box;
    /* S */
    box-shadow: 0px 0px 0px #9D2A35;
    border-color: #9D2A35;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-size: x-large;
    align-items: center;
    text-align: center; 
    color: white !important;
}

/*tabelas*/
table{
    background-color: #d1d1d1;
    text-decoration:none; 
}
table:enabled{
    background-color: #d1d1d1;
    text-decoration:none; 
}
table:hover{
    background-color: #d1d1d1;
    text-decoration:none; 
}
thead{
    text-decoration:none; 
    background-color: rgb(138, 138, 138);
}
thead:hover{
    text-decoration:none; 
    background-color: rgb(138, 138, 138);
}
table tr:hover{
    text-decoration: none;
}
table td:hover{
    text-decoration: none;
}
th:hover{
    text-decoration: none;
}
span{
    color:white;
}
#botaotabela{
    color:white;
}
#botaotabela:hover{
    color:black;
}
#labeltabela{
    font-family: Roboto;
    font-style: normal;
    font-size:  x-large;
    font-weight: bold;
}
/*formularios*/
#login{
    font-family: Roboto;
    font-style: normal;
    font-size:  x-large;
    font-weight: bold;
}
#loginsm{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size:large;
    color: black;
}